@using ProiectPAW.wwwroot.Models
@model IEnumerable<Categorie>

@{
    ViewData["Title"] = "Categorii";
}

<h1>Categorii</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adaugă Categorie</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nume</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categorie in Model)
        {
            <tr>
                <td>@categorie.Nume</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@categorie.ID" class="btn btn-warning">Editează</a>
                    <a asp-action="Delete" asp-route-id="@categorie.ID" class="btn btn-danger">Șterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
