* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f0f0f0;
}


.navbar {
    background-color: #0071dc;  
    color: #fff;
}

.navbar-brand img {
    height: 40px; 
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    background-color: #0056b3; 
}

footer {
    background-color: #e8e8e8;
    color: #333;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #0071dc; 
}

/* Butonul de cautare si bara */
.search-bar {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.search-input {
    border: none;
    padding: 8px 12px;
    width: 100%;
}

.search-button {
    background-color: #ffca2c;  
    color: #333;
    border: none;
    padding: 8px 16px;
}

@media (max-width: 768px) {
    .navbar-nav {
        background-color: #0071dc;
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }
}





/* pentru iconita user din layout*/
.user-icon {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

/*pt logo*/
.navbar-brand img {
    height: 50px; 
    padding: 1px; 
}




